body, html {
    margin: 0;
    padding: 0;
    font-family: 'PT Sans', sans-serif !important;
}

* {
    font-family: 'PT Sans', sans-serif !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136,136,136,0.58); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: right;
}

.swiper_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.swiper-pagination-bullet {
    background-color: white !important;
}

.swiper-button-prev, .swiper-button-next {
    color: white !important;
}

.swiper-slide {
    height: calc(100% - 50px);
}

.slider_height {
    height: calc(100vh - 50px);
    margin-top: 50px;
}

.swiper_more {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.swiper-slide a {
    color: #144d03;
    border: 0px solid #ffffff;
    background-color: #ff9d00;
    font-size: 16px;
    font-weight: 600;
    padding: 20px 50px;
    border-radius: 20px;
    text-decoration: none;
}

.swiper_text_1 {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    z-index: 1;
}

.swiper_text_1 span, .swiper_text_2 span {
    padding: 0 10%
}

.swiper_text_2 {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}

.swiper__text-block {
    top: 40%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    z-index: 1;
    flex-direction: column;
    gap: 50px;
}
/* Swiper End */

/* BEM */

/* Header */
.header .header__menu_flex-container {
    height: inherit;
    display: flex;
    background-color: #144d03;
    margin: 0;
    padding: 0px 6%;
    flex-grow: 1;
    gap: 30px;
}

.header__menu_height-inherit {
    height: inherit;
    display: flex;
}

.header_height {
    height: 70px;
    position: fixed;
    z-index: 2;
    width: 100%;
    top: 0;
}

.header .header__menuitem_flex-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
}

.header .header__menuitem_flex-item span {
    color: white;
    border: none;
    height: 100%;
}

.header__menuitem_flex-item:hover span button {
    color: #f0c878;
    cursor: unset;
}
/* Header End*/


/* Footer */
.footer-up {
    height: auto;
    display: flex;
    padding: 30px 11%;
    margin-top: 30px;
    border-top: solid 1px #EBEBF0;
    gap: 20px;
}

.footer-up .footer__item {
    flex-grow: 1;
}

.footer-up .footer__item a {
    text-decoration: none;
    color: rgb(55,53,54);
    font-size: 20px;
}

.footer-up .footer__item a:hover {
    text-decoration: none;
    color: #f0c878;
}
/* Footer End*/

.subsections {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    display: inline-flex;
    justify-content: center;
}

.subsections .menu {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    top: 65px;
    display: flex;
    justify-content: left;
}

.header__menuitem_flex-item:hover .menu {
    visibility: visible;
    opacity: 1;
    background-color: white;
    z-index: 2;
    position: absolute;
    box-shadow: 1px 1px 6px #494949, -1px 1px 6px #494949;
}

/* Menu subsections */
.menu-subsections {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 20px;
    text-align: left;
    gap: 12px;
    z-index: 1;
}

.menu-subsections menuitem a {
    color: black;
    text-decoration: none;
    font-size: 15px;
    line-height: 20px;
    display: inline-block;
}

.menu-subsections menuitem a:hover {
    color: rgb(112,163,105);
    text-decoration: none;
}

.subsection-btn {
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-weight: 500;
    color: white;
}
/* Menu subsections End */

.block-for-square {
    background-color: transparent;
    height: 42px;
    position: absolute;
    width: 100%;
    top: -15px;
    display: flex;
    justify-content: center;
}

.square {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 5px;
    rotate: 45deg;
    box-shadow: 0px -10px 6px -10px #494949, -10px 0px 6px -10px #494949;
}

.header-for-page {
    color: #494949;
    font-size: 32px;
    font-weight: 400;
    margin: 0 0 30px 0;
    text-align: center;
}

/* .swiper__internal-pages {
   
} */

.swiper.swiper__internal-pages {
    width: 100%;
    height: 550px;
}

.swiper__internal-pages .swiper-slide img {
    max-width: 100%;

}

.internal-page {
    margin-top: 100px;
    padding: 0px 11%;
}

.swiper_internal_text_1 span {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.swiper_internal_text_2 span {
    font-weight: 500;
    font-size: 19px;
    text-align: center;
}

.swiper_internal_more {

}

.swiper__text-block-internal {
    top: 5%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    z-index: 1;
    flex-direction: column;
    gap: 20px;
}

.swiper-slide-internal a {
    color: #144d03;
    border: 0px solid #ffffff;
    background-color: #ff9d00;
    font-size: 19px;
    font-weight: 600;
    padding: 20px 40px;
    border-radius: 20px;
    text-decoration: none;
}

.flex-container-internal {
    display: flex;
    gap: 60px;
    margin-top: 50px;
}

.flex-item-internal {
    flex-basis: 40%;
}

.flex-item-internal-swiper {
    min-width: 0;
    flex-basis: 60%;
}

.internal-banner-consultaciya-logopeda {
    background: url('/img/consult-logopeda.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 90%;
    margin: auto;
}

.test {
    background: url('/img/test.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 90%;
    margin: auto;
}

/* .internal-banner-1 {
    background: url('/img/photo_2022-10-31_21-28-37.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 6px #494949, -1px 1px 6px #494949;
}

.internal-banner-2 {
    background: url('/img/photo_2022-10-31_19-22-43.jpg');
    background-size: cover;
    background-position: center;
    height: 600px;
    width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 6px #494949, -1px 1px 6px #494949;
}

.internal-banner-3 {
    background: url('/img/photo_2022-10-31_19-37-00.jpg');
    background-size: cover;
    background-position: center bottom -88px;
    height: 600px;
    width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 6px #494949, -1px 1px 6px #494949;
}

.internal-banner-4 {
    background: url('/img/photo_2023-02-13_14-19-15.jpg');
    background-size: cover;
    background-position: bottom;
    height: 600px;
    width: 1000px;
    margin: auto;
    box-shadow: 1px 1px 6px #494949, -1px 1px 6px #494949;
} */

.internal-page-flex-block {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    border-top: solid 1px #EBEBF0;
    flex-direction: row;
}

.internal-page-flex-item {
    display: flex;
    color: #828A99;
    font-size: 18px;
    padding: 30px;
    line-height: 32px;
    font-style: italic;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    flex-basis: 33.3%;
}

.internal-page-content-block-header {
    color: #494949;
    font-size: 33px;
    font-weight: 400;
    margin: 0px 0 30px 0;
    text-align: center;
}

.internal-page-text {
    color: #828A99;
    font-size: 18px;
    margin-top: 30px;
    display: inline-block;
    line-height: 32px;
}

.internal-page-text-additional {
    color: #828A99;
    font-size: 18px;
    margin: 0;
    display: inline-block;
    line-height: 32px;
}

.part-of-border {
    width: 100px;
    border: 1px solid #EBEBF0;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 5px;
}

.footer-logo img {
    height: 100px;
}

.footer__text-block {
    color: #828A99;
    font-size: 17px;
    margin-top: 30px;
    display: inline-block;
    line-height: 32px;
}

.footer-part-1 {
    flex-basis: 40%;
}

.footer-part-2 {
    flex-basis: 30%;
}

.footer-part-3 {
    flex-basis: 30%;
}

.footer-2__item, .footer-3__item {
    color: #494949;
    font-size: 23px;
    font-weight: 600;
}

.footer-part-2 ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 208px;
    list-style: none;
    gap: 20px;
    padding-left: 20px;
}

.footer-part-2 ul li a {
    color: #828A99;
    font-size: 17px;
    text-decoration: none;
}

.footer-part-2 ul li a:hover {
    color: #f0c878;
}

.footer-part-3 ul {
    padding: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 208px;
    list-style: none;
    gap: 20px;
    padding-left: 20px;
}

.footer-part-3 ul li {
    color: #828A99;
    font-size: 17px;
}

.footer-part-3 ul li a {
    color: #828A99;
    font-size: 17px;
}

.footer-part-3 ul li a:hover {
    color: #f0c878;
}

.footer-down {
    display: flex;
    border-top: solid 1px #EBEBF0;
    padding: 20px 11%;
    justify-content: space-between;
}

.footer-down-1 {
    flex-basis: 30%;
    font-size: 12px;
    color: #828A99;
}

.footer-down-2 {
    flex-basis: 20%;
    font-size: 12px;
}

.footer-down-2 a {
    color: #828A99;
    text-decoration: underline;
}

.footer-down-3 {
    display: flex;
    flex-basis: 50%;
    justify-content: flex-end;
    gap: 7px;
    font-size: 12px;
    color: #828A99;
}

.footer-down-3 a {
    color: #828A99;
    text-decoration: underline;
}

.internal-page-parents-text {
    display: block;
    text-align: center;
    margin: 30px 0;
    color: #494949;
    font-weight: 600;
}

.zanyatiya-flex-container {
    display: flex;
    flex-wrap: wrap;
    padding: 0px 30px;
    margin: 0;
}

.zanyatiya-flex-item {
    list-style: none;
    flex-basis: 40%;
    color: #828A99;
    font-size: 18px;
    padding: 30px;
    flex-grow: 1;
    border-top: solid 1px #EBEBF0;
    line-height: 32px;
    font-style: italic;
}

.internal-page-parents-text-bottom {
    display: block;
    text-align: center;
    margin: 0 0 60px 0;
    color: #494949;
    font-weight: 600;
}

.internal-page-parents-text-header {
    display: block;
    text-align: center;
    margin: 30px 0;
    color: #494949;
    font-weight: 600;
    font-size: 18px;
}

.internal-page-text-description {
    color: #828A99;
    font-size: 18px;
    display: inline-block;
    line-height: 32px;
}

.internal-page-flex-item-more {
    display: flex;
    color: #828A99;
    font-size: 18px;
    padding: 30px;
    line-height: 32px;
    font-style: italic;
    align-items: center;
    gap: 20px;
    box-sizing: border-box;
    flex-basis: 33.3%;
}

.mobile_menu_flex_container {
    display: flex;
    z-index: 1;
}

.mobile_menu_flex_item {
    flex-basis: 10%;
    height: 100%;
}

.mobile_menu_flex_item a {
    display: flex;
    height: 100%;
}

.mobile_menu_flex_item a img {
    /* padding: 13% 0; */
    margin-left: 10px;
    height: 70px;
    width: 70px;
}

.lines-for-mobile-menu-flex-container.open {
    right: 20px;
    position: absolute;
}

.lines-for-mobile-menu-flex-container {
    display: flex;
    width: 50px;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.lines-for-mobile-menu-flex-item {
    display: flex;
    justify-content: center;
    border: 2px solid white;
}

#mobile-menu {
    display: none;
    position: absolute;
    width: 100%;
    height: 100vh;
    background-color: rgb(20,77,3);
    flex-direction: column;
    z-index: 2;
}

#mobile-contacts {
    display: none;
    position: absolute;
    width: 100%;
    height: 250px;
    background-color: rgb(20,77,3);
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 20px;
}

.mobile_menu_flex_container_opened {
    display: flex;
    width: 100%;
    gap: 10px;
    cursor: pointer;
    height: 80px;
}

.close {
    cursor: pointer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    position: absolute;
}

.close-contactss {
    cursor: pointer;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 20px;
    position: absolute;
}

.mobile_menu_flex_item-close {
    cursor: auto;
}

.mobile_menu_flex_item-logo {
    cursor: auto;
}

.close:before, .close:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: white;
}

.close:before {
    transform: rotate(45deg);
}

.close:after {
    transform: rotate(-45deg);
}

.close-contacts:before, .close-contacts:after {
    content: "";
    position: absolute;
    width: 60px;
    height: 4px;
    background: white;
}

.close-contacts:before {
    transform: rotate(45deg);
}

.close-contacts:after {
    transform: rotate(-45deg);
}

.mobile_menu_flex_container_opened_second {
    display: flex;
}

.mobile_menu_flex_container_opened_second ul {
    line-height: 45px;
    list-style: none;
    padding: 0 6%;
}

.mobile_menu_flex_container_opened_second ul li span {
    font-size: 25px;
    color: white;
    line-height: 26px;
    display: inline-block;
}

.mobile_menu_flex_container_opened_second ul li a {
    font-size: 24px;
    color: white;
    text-decoration: none;
    line-height: 30px;
    display: inline-block;
}

.mobile_menu_flex_container_opened_second ul li a:hover {
    color: rgb(244,204,120);
}

.header.header_height {
    transition: 0.2s;
}

.opened-logo {
    height: 70px;
    width: 70px;
}

.subsection-btn-without-sub {
    text-decoration: none;
}

.subsection-btn-without-sub:hover {
    color: #f0c878;
}

.internal-page-text-additional-warning {
    display: flex;
    align-items: center;
    gap: 20px;
}

.internal-page-text-additional-warning-img {
    height: 40px;
}

.internal-page-text-additional-warning-img img {
    height: 100%;
}

.numbers-text {
    font-size: 45px;
}

.large-dash {
    height: 100%;
    border: 2px solid #43a047;
    width: 100px;
}

.internal-page-flex-item-moho {
    flex-direction: column;
}

.internal-page-flex-item-cons-nejro {
    flex-basis: 25%;
}

.internal-page-flex-item-micropol {
    flex-basis: 25%;
}

.forbrain-h3 {
    margin: 0;
    font-style: normal;
    color: #494949;
}

.forbrain-text {
    height: 200px;
}

.soundsory-text {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 225px;
}

.logo-a {
    height: inherit;
    display: flex;
    align-items: center;
}

.logo-a img {
    height: 76%;
}

.consult-psih-text {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 160px;
}

.internal-page-flex-item-consult-psih {
    flex-basis: 50%;
}

.internal-page-flex-item-consult-psih-2 {
    flex-basis: 25%;
}

.consult-psih-text-2 {
    border-left: 3px solid #43a047;
    padding-left: 20px;
}

.internal-page-flex-item-nejrobika {
    flex-grow: unset;
    flex-basis: 25%;
}

.afk-new-text {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 65px;
}

.internal-page-flex-item-afk-new {
    flex-grow: unset;
    flex-basis: 33%;
    box-sizing: border-box;
}

.internal-page-flex-item-afk-2 {
    flex-grow: unset;
}

.zapusk-rechi-text {
    padding-left: 20px;
    border-bottom: solid 1px #EBEBF0;
    height: 100%;
}

.corr-zvyk-text {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 100px;
}

.zanyatiya-flex-item-span {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 100px;
    display: flex;
}

.log-massazh-text {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 100px;
    display: flex;
}

.internal-page-flex-item-log-massazh {
    flex-grow: unset;
    flex-basis: 50%;
    box-sizing: border-box;
}

.stop-zaik-text {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 130px;
}

.cons-logopeda-text {
    padding-left: 20px;
    height: 100%;
    border-bottom: solid 1px #EBEBF0;
}

.internal-page-flex-item-more-stop-zaik {
    flex-grow: unset;
}

.internal-page-flex-item-more-cons-logopeda {
    flex-grow: unset;
}

.cons-nejro-text {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 100px;
}

.nejro-diag-text {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 65px;
}

.nejro-diag-text-2 {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 35px;
}

.ind-zanyat-text {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 100px;
}

.nejrofitness-text {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 130px;
}

.internal-page-flex-item-nejrofitness {
    flex-grow: unset;
}

.moho-text {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 65px;
}

.moho-text-2 {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 100px;
}

.vcht-text {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 100px;
}

.micro-text {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 100px;
}

.oksigeno-text {
    border-left: 3px solid rgb(255,76,76);
    padding-left: 20px;
    height: 100px;
}

.oksigeno-text-2 {
    border-left: 3px solid #43a047;
    padding-left: 20px;
    height: 65px;
}

.socials {
    height: 100%;
    display: flex;
    gap: 10px;
}

.socials a img {
    height: 100%;
}

.socials a {
    height: 100%;
    display: inline-block;
}

.socials-header {
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.socials-header a img {
    height: 100%;
}

.socials-header a {
    height: 100%;
    display: inline-block;
}

.our-contacts li:last-child {
    height: 30px;
}

.infolife-container {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 0 20%;
}

.internal-page-infolife-container-text-description {
    border-top: solid 1px #EBEBF0;
}

.infolife-item-img {
    height: 540px;
    box-shadow: 1px 1px 6px #494949, -1px 1px 6px #494949;
}

.infolife-item-img img {
    height: inherit;
}

.opened {
    display: flex !important;
}

.mobile-contacts-open-close {
    color: white;
    font-size: 20px;
    border-bottom: 1px dotted;
    cursor: pointer;
}

.mobile-contacts-item {
    color: white;
    display: flex;
    justify-content: center;
    line-height: 40px;
    font-size: 18px;
}

.mobile-contacts-item a {
    color: white;
    font-size: 18px;
    cursor: pointer;
}

.internal-page-part-2 {
    margin-top: 30px;
}

@media (max-width: 1600px) {
    .zapusk-rechi-text {
        height: auto;
    }

    .corr-zvyk-text {
        height: auto;
    }

    .zanyatiya-flex-item-span {
        height: auto;
    }

    .log-massazh-text {
        height: auto;
    }

    .cons-nejro-text {
        height: auto;
    }

    .moho-text-2 {
        height: auto;
    }

    .internal-page-flex-item-micropol {
        flex-basis: 50%;
    }

    .infolife-container {
        padding: 0 8%;
    }

    .internal-banner-1,
    .internal-banner-2,
    .internal-banner-3,
    .internal-banner-4 {
        box-shadow: unset;
    }
}

@media (max-width: 1440px) {
    .header_height {
        height: 60px;
    }

    .header .header__menu_flex-container {
        padding: 0px 1%;
        gap: 13px;
    }

    .internal-page {
        padding: 0px 7%;
    }

    .footer-up {
        padding: 30px 7%;
    }

    .subsections .menu {
        top: 65px;
    }

    .zapusk-rechi-text {
        height: auto;
    }
}

@media (max-width: 1366px) {
    .swiper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .slider_height {
        height: 65vh;
        margin-top: 50px;
    }

    .consult-psih-text {
        height: auto;
    }
}

@media (max-width: 1200px) {
    .header_height {
        height: 60px;
    }

    .header .header__menu_flex-container {
        padding: 0 1%;
        gap: 15px;
    }

    .internal-page {
        padding: 0px 7%;
    }

    .internal-banner-1, .internal-banner-2, .internal-banner-3, .internal-banner-4 {
        width: 100%;
    }

    .footer-part-1 ul li, .footer-part-2 ul li, .footer-part-2 ul li a, .footer-part-3 ul li {
        font-size: 16px;
    }

    .footer__text-block {
        font-size: 16px;
    }

    .footer-up {
        padding: 30px 3%;
    }

    .footer-2__item, .footer-3__item {
        font-size: 23px;
    }

    .subsection-btn {
        font-size: 15px;
    }

    .header-for-page {
        font-size: 35px;
    }

    .internal-page-text {
        font-size: 16px;
    }

    .internal-page-content-block-header {
        font-size: 34px;
    }

    .internal-page-flex-item {
        font-size: 16px;
    }

    .internal-page-text-additional {
        font-size: 16px;
    }

    .footer-part-3 ul li a {
        font-size: 16px;
    }

    .ind-zanyat-text {
        height: auto
    }

    .internal-page-flex-item {
        padding: 20px;
    }

    .nejrofitness-text {
        height: auto;
    }

    .moho-text {
        height: auto;
    }
}

@media (min-width: 993px) {
    .mobile_menu_flex_container {
        display: none;
    }
    
    #mobile-menu {
        display: none !important;
    }
}

@media (max-width: 992px) {
    .header__menu.header__menu_flex-container {
        display: none;
    }

    .header.header_height {
        height: 70px;
        display: flex;
        background-color: #144d03;
        margin: 0;
        /* padding: 0px 3%; */
    }

    .mobile_menu_flex_container {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        /* padding: 0 3%; */
    }

    .mobile_menu_flex_item {
        display: flex;
        align-items: center;
        flex: 1;
    }

    .swiper_text_1 span {
        font-size: 35px;
        display: block;
    }

    .swiper img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: bottom;
    }

    .slider_height {
        height: 65vh;
        margin-top: 50px;
    }

    .footer-up {
        height: auto;
        flex-wrap: wrap;
    }

    .internal-banner-3 {
        background-size: auto;
    }

    .internal-page-flex-item-log-massazh {
        flex-basis: 100%;
    }

    .internal-page-flex-item-more {
        flex-basis: 50%;
        box-sizing: border-box;
    }

    .stop-zaik-text {
        height: auto;
    }

    .nejro-diag-text {
        height: auto;
    }

    .nejro-diag-text-2 {
        height: auto;
    }

    .internal-page-flex-item {
        flex-basis: 100%;
    }

    .soundsory-text {
        height: auto;
    }
}

/* @media (max-width: 900px) {
    
} */

@media (max-width: 768px) {
    .mobile_menu_flex_container_opened {
        display: flex;
        width: 100%;
        gap: 10px;
        cursor: pointer;
        height: 70px;
    }

    .swiper__text-block span {
        display: block;
        padding: 0 5%;  
    }

    .footer-up {
        height: auto;
        flex-direction: column;
    }

    .slider_height {
        height: 100vh;
    }

    .swiper_text_2_span {
        padding: 0 10% !important;
    }

    .internal-page-flex-item {
        gap: 5%;
    }

    .internal-page-flex-item-more-reverse {
        display: flex;
        align-items: center;
        gap: 5%;
    }

    .zanyatiya-flex-item {
        padding: 30px 0;
        flex-basis: 100%;
    }

    .footer-logo img {
        height: 200px;
    }

    h1.header-for-page {
        font-size: 27px;
    }

    h2.internal-page-content-block-header {
        font-size: 26px;
    }

    h3.forbrain-h3 {
        font-size: 24px;
    }

    .internal-page-flex-item-more {
        flex-basis: 100%;
    }

    .vcht-text {
        height: auto;
    }

    .micro-text {
        height: auto;
    }

    .oksigeno-text {
        height: auto;
    }

    .oksigeno-text-2 {
        height: auto;
    }

    .consult-psih-text {
        height: auto;
    }

    .infolife-container {
        gap: 10px;
        padding: 0px 0%;
        flex-direction: column;
    }

    .infolife-item-img {
        box-shadow: unset;
    }

    .infolife-item-img img {
        width: 100%;
        object-fit: contain;
    }
}

@media (max-width: 480px) {
    h1.header-for-page {
        font-size: 21px;
    }

    h2.internal-page-content-block-header {
        font-size: 20px;
    }

    h3.forbrain-h3 {
        font-size: 18px;
    }

    .footer-up {
        flex-direction: column;
    }

    .footer-down {
        padding: 20px 3%;
    }

    .internal-page-flex-block {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
    }

    .internal-page {
        padding: 0px 4%;
    }

    .footer-logo {
        display: flex;
        justify-content: center;
    }

    .footer-down-1 {
        font-size: 10px;
    }

    .footer-down-2 {
        font-size: 10px;
    }

    .footer-down-3 {
        font-size: 10px;
    }

    .afk-new-text {
        height: auto;
    }
}