body, html {
    margin: 0;
    padding: 0;
    font-family: 'TildaSans', Arial, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: white; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(136,136,136,0.58); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}

/* Swiper */
.swiper {
    width: 100%;
    height: 100%;
}

.swiper img {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: right;
}

.swiper_background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.swiper-pagination-bullet {
    background-color: white !important;
}

.swiper-button-prev, .swiper-button-next {
    color: white !important;
}

.swiper-slide {
    height: calc(100% - 50px);
}

.slider_height {
    height: calc(100vh - 50px);
}

.swiper_more {
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 1;
}

.swiper-slide a {
    color: #144d03;
    border: 0px solid #ffffff;
    background-color: #ff9d00;
    font-size: 19px;
    font-weight: 600;
    padding: 30px 60px;
    border-radius: 20px;
    text-decoration: none;
}

.swiper_text_1 {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    z-index: 1;
}

.swiper_text_2 {
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    z-index: 1;
}

.swiper__text-block {
    top: 20%;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    font-weight: 700;
    font-size: 60px;
    text-align: center;
    z-index: 1;
    flex-direction: column;
    gap: 50px;
}
/* Swiper End */

/* BEM */

/* Header */
.header .header__menu_flex-container {
    height: inherit;
    display: flex;
    background-color: #144d03;
    margin: 0;
    padding: 0px 11%;
}

.header__menu_height-inherit {
    height: inherit;
}

.header_height {
    height: 50px;
}

.header .header__menuitem_flex-item {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .header__menuitem_flex-item span {
    color: white;
    border: none;
}

.header__menuitem_flex-item:hover span button {
    color: #f0c878;
    cursor: unset;
}
/* Header End*/


/* Footer */
.footer {
    height: 200px;
    background-color: rgba(0,2,3,0.8);
    display: flex;
    padding: 30px 11%;
}

.footer .footer__item {
    flex-grow: 1;
}

.footer .footer__item a {
    text-decoration: none;
    color: white;
}

.footer .footer__item a:hover {
    text-decoration: none;
    color: #f0c878;
}
/* Footer End*/

.subsections {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
    display: inline-flex;
    justify-content: center;
}

.subsections .menu {
    visibility: hidden;
    width: 300px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    opacity: 0;
    transition: opacity 0.1s;
    top: 45px;
    display: flex;
    justify-content: center;
}

.header__menuitem_flex-item:hover .menu {
    visibility: visible;
    opacity: 1;
    background-color: white;
    z-index: 2;
    position: absolute;
}

/* Menu subsections */
.menu-subsections {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: start;
    line-height: 30px;
    padding: 0 20px;
}

.menu-subsections menuitem a {
    color: black;
    text-decoration: none;
    font-size: 17px;
}

.menu-subsections menuitem a:hover {
    color: rgb(112,163,105);
    text-decoration: none;
}

.subsection-btn {
    background-color: transparent;
    border: none;
    font-size: 17px;
    font-weight: 500;
    color: white;
}
/* Menu subsections End */

.block-for-square {
    background-color: transparent;
    height: 42px;
    position: absolute;
    width: 100%;
    top: -15px;
    display: flex;
    justify-content: center;
}

.square {
    width: 30px;
    height: 30px;
    background-color: white;
    position: absolute;
    top: 5px;
    rotate: 45deg;
}
